.error {
    position: relative;
    box-sizing: border-box;
    color: red;
    font-size: 20px;
    font-weight: 500;
    top: 2.3em;
}

.BMRestimate {
    margin-top: 10%;
    font-size: 28px;
    font-weight: 700;
}

.BMRNum {
    color: #00b0b1;
}
