$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

.whole-container {
    margin-top: -4%;
}

.donutChart {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 20em;
    margin: 5% 0 0 0;
    border-radius: 100%;
    top: 1em;
    left: 1.5em;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
}

.chart {
    position: relative;
    box-sizing: border-box;
    top: 0.1em;
}

.errorMessage {
    position: relative;
    box-sizing: border-box;
    color: red;
    font-size: 20px;
    font-weight: 500;
    top: 2.3em;
    right: 5.5em;
}

@media only screen and (max-width: 1020px) {
    .donutChart {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        width: 20em;
        margin: 11em 0 0 0;
    }
}

@media only screen and (max-width: 450px) {
    .nutrition-menu {
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 5.4em;
        width: 100% !important;
        height: 9em;
    }

    .errorMessage {
        top: 2em;
        right: 0em;
    }

    .donutChart {
        width: 19em;
        margin: 10em 0 0 0;
        border-radius: 100%;
        top: 1em;
        left: 0em;
        box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    }
}

.inputForm {
    position: relative;
    box-sizing: border-box;
}

.calories {
    position: absolute;
    box-sizing: border-box;
    left: 44%;
    bottom: 42%;
    font-size: 20px;
    font-weight: 700;
}

body,
html {
    background-color: $color-bg;
}

body,
p,
input,
select,
textarea,
button {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}

.divInForm {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
}

.addItemForm {
    padding: $ruler;
    width: $ruler * 20;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.segment {
    padding: $ruler * 1 0;
    text-align: center;
    margin-bottom: -1em;
}

.submitBtn,
.userInput {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler * 20;
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
}

.inputLabel {
    display: block;
    margin-bottom: $ruler * 1.5;
    width: 100%;
}

.userInput {
    margin-right: $ruler/2;
    box-shadow: inset 2px 2px 5px $color-shadow,
        inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow,
            inset -1px -1px 2px $color-white;
    }
}

.submitBtn {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &:active {
        box-shadow: inset 1px 1px 2px $color-shadow,
            inset -1px -1px 2px $color-white;
    }

    .icon {
        margin-right: $ruler/2;
    }

    &.unit {
        border-radius: $ruler/2;
        line-height: 0;
        width: $ruler * 3;
        height: $ruler * 3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 $ruler/2;
        font-size: $ruler * 1.2;

        .icon {
            margin-right: 0;
        }
    }

    &.red {
        display: block;
        width: 100%;
        color: #00b0b1;
    }
}

.manualFormOpenBtn {
    position: relative;
    box-sizing: border-box;
    text-decoration: underline;
    cursor: pointer;
    color: #58a5bd;
    margin: 1em;
    font-weight: 700;
}

.report-save-form {
    padding: $ruler;
    width: $ruler * 18;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.report-save-form-inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.nutrition-menu {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 5.4em;
    width: 15em;
    height: 9em;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
}

.addItemManually,
.saveReportFormBTN {
    transition: 0.2s;
    position: relative;
    box-sizing: border-box;
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
    margin: 1em;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.addItemManually:hover,
.saveReportFormBTN:hover {
    color: #58a5bd;
}

.calorie-burn-wrapper {
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: left;
    margin-bottom: 10%;
    left: 1em;
    top: 15em;
}

.exercise-title {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0.4em;
}

.exercise-name {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin: 0.1em 0.5em 0.2em 0.2em;
}

.calpermin {
    color: #00b0b1;
    font-weight: 600;
}

@media only screen and (max-width: 1050px) {
    .calorie-burn-wrapper {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        text-align: left;
        width: 70%;
        left: 0em;
        top: 0em;
    }
}

@media only screen and (max-width: 590px) {
    .calorie-burn-wrapper {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        text-align: left;
        left: 0em;
        top: 0em;
    }
}
